<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <!-- My CSS script -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <div class="container">
                <div class="logo">Register</div>
                <ul class="nav-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/login">Login</a></li>					
                </ul>
            </div>
        </nav>
    </header>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
        <section class="hero">
            <div class="hero-content">
				<h1>Create an account to enjoy our services.</h1>
				<p>Please provide a valid email address!</p>
            </div>
        </section>

    <form action="{{ url_for('register') }}" method="POST">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="fullname">Fullname:</label><br>
        <input type="text" id="fullname" name="fullname" required><br>
        <label for="birthdate">Birthdate:</label><br>
        <input type="date" id="birthdate" name="birthdate"><br>
        <label for="address">Address:</label><br>
        <input type="text" id="address" name="address"><br>
        <label for="telephone">Telephone:</label><br>
        <input type="tel" id="telephone" name="telephone" pattern="\+[0-9]{3}-[0-9]{10}" placeholder="+234-8099999999" required><br>
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email" required><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br>
        <label for="gender">Gender:</label><br>
        <select id="gender" name="gender">
            <option value="male">Male</option>
            <option value="female">Female</option>
            <option value="other">Other</option>
        </select><br>
        <input type="submit" value="Register">
    </form>
        <section class="hero">
            <div class="hero-content">
				<p>Already have an account? <a href="{{ url_for('login') }}">Login</a>.</p>
            </div>
        </section>

    <!-- My JS script -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
