<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <!-- My CSS script -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <div class="container">
                <div class="logo">Reset Password</div>
                <ul class="nav-links">
                    <li><a href="/">Home</a></li>
                    <li><a href="/news">News</a></li>					
                </ul>
            </div>
        </nav>
    </header>
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
        <section class="hero">
            <div class="hero-content">
				<p>Please ensure you entered correct username and email provided during registeration!</p>
            </div>
        </section>
    <form action="" method="post">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>
        <label for="password">New Password:</label><br>
        <input type="password" id="password" name="password" required><br>
        <button type="submit">Reset Password</button>
    </form>
    <!-- My JS script -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
